@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-6 margin-top-20">
        <a href="@Url.Action("Index","Clients")" class="btn btn-primary btn-large btn-block">
            <span class="glyphicon glyphicon-eye-open"> Client</span>
        </a>
        <a href="@Url.Action("Index","participants")" class="btn btn-primary btn-large btn-block">
            <span class="glyphicon glyphicon-user"> Participant</span>
        </a>
        <a href="@Url.Action("Index","Events")" class="btn btn-primary btn-large btn-block">
            <span class="glyphicon glyphicon-facetime-video"> Event</span>
        </a>
    </div>
    <div class="col-md-6 margin-top-20">
        <a href="@Url.Action("Index","Sessions")" class="btn btn-primary btn-large btn-block">
            <span class="glyphicon glyphicon-transfer"> Sessions</span>
        </a>
        <a href="@Url.Action("Index","Registrations")" class="btn btn-primary btn-large btn-block">
            <span class="glyphicon glyphicon-pencil"> Registration</span>
        </a>
        <a href="@Url.Action("Index","Registrations")" class="btn btn-primary btn-large btn-block">
            <span class="glyphicon glyphicon-list-alt"> Schedule</span>
        </a>
    </div>
</div>