@model CaseStudy.Models.Registration

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Registration</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Participants.ParticipantName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Participants.ParticipantName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sessions.SessionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sessions.SessionName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RegistrationID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
